body {
    font-family: sans-serif;
    text-align: center;
    padding: 1em;
  }
  
  h1 {
    margin-bottom: 1.5em;
  }
  
  #contador {
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 1.5em;
  }
  
  .grilla {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .figu {
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    background-color: rgb(76, 197, 76);
    color: black;
  }
  
  .figu.obtenida {
    background-color: rgb(230, 46, 13);
    color: white;
  }
  